body {
	font-family: -apple-system, system-ui, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0;
	line-height: 1.5em;

	--theme_primary: #f47;
	--theme_foreground: #444;
	color: var(--theme_foreground);
	--background_code: #77778022;
}

@media(prefers-color-scheme: dark) {
	body {
		background: #242424;
		--theme_foreground: #eee;
	}
}

a {
	color: var(--theme_primary);
}

header {
	display: flex;
	margin: 0 auto 2em;
	padding-top: 1em;
	width: 100%;
}

header .wrapper {
	margin: 0 auto;
	line-height: 1.25em;
	font-size: 2em;
	font-weight: normal;
	color: var(--theme_primary);
	text-decoration: none;
}

main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin: 40px auto;
	padding: 0 10px;
	max-width: 60em;
	width: 100%;
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

footer .legal {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	background-color: rgba(0, 0, 0, .1);
	width: 100%;
	box-sizing: border-box;
	font-size: .857rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.0071428571em;
}

footer .legal a {
	color: var(--theme_foreground);
}

code {
	font-family: ui-monospace, monospace;
	font-size: 85%;
}

:not(pre) > code {
	background-color: var(--background_code);
	border-radius: 6px;
	padding: .2em .4em;
}

pre.key_block {
	background-color: var(--background_code);
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

code.key_block,
pre.key_block {
	--tab_size: 4;
	color: var(--theme_foreground);
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-o-tab-size: var(--tab_size);
	tab-size: var(--tab_size);
	-webkit-hyphens: none;
	hyphens: none;
}

.copyable_code {
	display: flex;
	height: fit-content;
	width: fit-content;
	align-content: center;
}

.copy_btn {
	width: 24px;
	height: 24px;
	margin: auto 0 auto 1em;
	box-sizing: border-box;
	cursor: pointer;

	border-radius: 4px;
	background-color: var(--background_code);
	border: 1px solid transparent;

	display: flex;
	padding: 0;
	align-items: center;
	justify-content: center;
}

.copy_btn:hover, .copy_btn:focus {
	border: 1px solid var(--theme_primary);
}

.copy_btn:active {
	background-color: #db577188;
}

svg {
	fill: var(--theme_foreground);
}
